{% load tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>اطلاع‌رسانی درباره تغییر سفارش</title>
    <style>
        body {
            font-family: Tahoma;
            text-align: right;
        }
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>
<body dir="rtl">
    <p>
    {{full_name}} گرامی،
    </p>
    <p>
        با سلام و احترام،
    </p>
    <p>
        این ایمیل به منظور اطلاع‌رسانی به شما درباره تغییراتی است که در 
        <a href={{ link }}>سفارش {{ meal_type }} {{  weekday|weekday_word }} مورخ {{ delivery_date }}</a>
        اعمال شده است. لطفاً جزئیات تغییرات را در زیر مشاهده فرمایید:
    </p>
    {% if removed_item %}
    <ul>
        <b><li>{{removed_item.ItemName}} حذف شد.</li></b>
    </ul>
    {% endif %}
    {% if new_item%}
    <ul>
    <b><li>{{ new_item.ItemName }} اضافه شد.</li></b>
    </ul>
    {% endif %}
    {% if building %}
    <ul>
    <b><li>محل تحویل {{ meal_type }} به {{ building}} {{floor|english_to_persian_number}} تغییر یافت</li></b>
    </ul>
    {% endif %}
    {% if increase_quantity_item%}
    <ul>
    <b><li>{{ increase_quantity_item.ItemName }} بیشتر شد.</li></b>
    </ul>
    {% endif %}
    {% if decrease_quantity_item%}
    <ul>
    <b><li>{{ decrease_quantity_item.ItemName }} کمتر شد.</li></b>
    </ul>
    {% endif %}
    {% if report %}
    <p>
    در ادامه، سفارش‌ {{ meal_type }} شما در جدول زیر آمده است:
    </p>
    <table style="width:50%">
        <tr>
          <th>نام آیتم</th>
          <th>تامین کننده</th>
          <th>تعداد</th>
          <th>محل تحویل</th>
        </tr>
        {% for item in report %}
        <tr>
          <td>{{ item.ItemName }}</td>
          <td>{{ item.Provider }}</td>
          <td>{{ item.Quantity|english_to_persian_number }}</td>
          <td>{{ item.DeliveryBuildingPersian }} {{ item.DeliveryFloorPersian|english_to_persian_number }}</td>
        </tr>
        {% endfor %}
    </table>
    <br />
    {% else %}
    <p>
    در حال حاضر هیچ سفارشی برای وعده {{ meal_type }} ثبت نشده است.
    </p>
    {% endif %}
    <p>
        با تشکر از همکاری و توجه شما.
    </p>
</body>
</html>