<div class="group flex items-center">
    <img class="shrink-0 h-12 w-12 rounded-md"
         src="https://cdn.snappfood.ir/200x201/cdn/26/72/95/vendor/6321c5d8c1abb.jpeg" alt=""/>
    <div class="mr-3">
        <p class="text-base font-medium text-slate-900">شهرزاد وطن دوست</p>
        <p class="text-base font-medium text-slate-500">ادمین اداری</p>
    </div>
</div>
<div class="flex flex-row gap-5 justify-end items-center">
    <div class="cursor-pointer">
        تغییر به سمت پرسنل
    </div>
</div>

