


<div class="flex justify-between">
    <div class="flex items-center gap-3" ><img class="w-6 h-6" src="https://www.svgrepo.com/show/327569/today.svg" alt=""> <span id="menu-date-wrapper" class="text-lg">چهارشنبه 28 آبان</span></div>
    <div class="flex items-center gap-3" ><img class="w-6 h-6" src="https://www.svgrepo.com/show/327760/fast-food.svg" alt=""> <span id="menu-items-counter" class="text-lg pt-2">3</span></div>


</div>
<!-- component -->
<div class="mt-4">
      <div class="relative group">
        <button id="dropdown-button" class="inline-flex justify-between w-full px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
          <span class="mr-2">افزودن غذای جدید به منو </span>
          <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 ml-2 -mr-1" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M6.293 9.293a1 1 0 011.414 0L10 11.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z" clip-rule="evenodd" />
          </svg>
        </button>
        <div id="dropdown-menu" class="hidden w-full max-h-[25rem] overflow-y-auto absolute right-0 mt-2 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 p-1 space-y-1">
          <input id="search-input" class="block w-full px-4 py-2 text-gray-800 border rounded-md  border-gray-300 focus:outline-none" type="text" placeholder="جستجو آیتم مورد نظر" autocomplete="off">


        </div>
      </div>
    </div>
    <script>
  // JavaScript to toggle the dropdown
  const dropdownButton = document.getElementById('dropdown-button');
  const dropdownMenu = document.getElementById('dropdown-menu');
  const searchInput = document.getElementById('search-input');
  let isOpen = false; // Set to true to open the dropdown by default

  // Function to toggle the dropdown state
  function toggleDropdown() {
    isOpen = !isOpen;
    dropdownMenu.classList.toggle('hidden', !isOpen);
  }

  // Function to close the dropdown
  function closeDropdown() {
    isOpen = false;
    dropdownMenu.classList.add('hidden');
  }

  // Set initial state
  toggleDropdown();
  toggleDropdown();

  dropdownButton.addEventListener('click', (event) => {
    event.stopPropagation(); // Prevent the click event from reaching the document body
    toggleDropdown();
  });

  // Add event listener to filter items based on input
  searchInput.addEventListener('input', (event) => {
    event.stopPropagation(); // Prevent the click event from reaching the document body
    updateDisplayedItems();
  });

  // Add event listener to close the dropdown when clicking outside of it
  document.body.addEventListener('click', closeDropdown);

  // Add event listener to prevent the click event from reaching the document body when interacting with the search input
  searchInput.addEventListener('click', (event) => {
    event.stopPropagation();
  });

  // Add event listener to make the dropdown scrollable
  dropdownMenu.addEventListener('scroll', (event) => {
    event.stopPropagation();
  });

  // Function to update the displayed items based on the search term
  function updateDisplayedItems() {
    const searchTerm = searchInput.value.toLowerCase();
    const items = dropdownMenu.querySelectorAll('a');

    items.forEach((item) => {
      const text = item.textContent.toLowerCase();
      if (text.includes(searchTerm)) {
        item.style.display = 'block';
      } else {
        item.style.display = 'none';
      }
    });
  }
</script>







<div class="mt-8">
                            <ul id="menu-items-container" class="max-h-[45rem] pb-2 overflow-y-auto grid grid-cols-2 gap-3">




                            </ul>


                        </div>



{#    <div class="text-right self-stretch" >#}
{#            <div class="mt-4 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative"#}
{#                 role="alert">#}
{#                <span class="block sm:inline">پرسنل آیتم مورد نظر را سفارش داده است. امکان حذف این ایتم وجود ندارد</span>#}
{##}
{#            </div>#}
{#        </div>#}

