<div class="bg-white">


                    <div class="flex flex-col wrapper bg-white rounded  w-full">
                        <div class="header flex items-center border-b p-0 pl-0 justify-between pb-2">

                            <div class="min-w-fit flex items-center space-x-1">
                                <div id="system-today" class="cursor-pointer text-sm px-3 py-1 border border-gray-300 rounded-md">
                                    برو به امروز
                                </div>
                                <div style="direction: rtl">
                                    <select id="calSelectedMonth" name="calSelectedMonth" autocomplete=off"
                                            class="text-base pr-4 block w-full rounded-md border-0 py-1 bg-white text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                        <option value="1">فروردین</option>
                                        <option value="2">اردیبهشت</option>
                                        <option value="3">خرداد</option>
                                        <option value="4">تیر</option>
                                        <option value="5">مرداد</option>
                                        <option value="6">شهریور</option>
                                        <option value="7">مهر</option>
                                        <option value="8">آبان</option>
                                        <option value="9">آذر</option>
                                        <option value="10">دی</option>
                                        <option value="11">بهمن</option>
                                        <option value="12">اسفند</option>

                                    </select>
                                </div>
                            </div>

                        </div>
                        <div id="dayBlocksWrapper" class="grid grid-cols-7 gap-0  h-[50rem] " style="direction: rtl">
                            <div class="border border-gray-100 flex items-center flex-grow">
                                <h3 class="m-auto text-xl">شنبه</h3>
                            </div>
                            <div class="border border-gray-100 flex items-center flex-grow">
                                <h3 class="m-auto text-xl">یک‌شنبه</h3>
                            </div>
                            <div class="border border-gray-100 flex items-center flex-grow">
                                <h3 class="m-auto text-xl">دو‌شنبه</h3>
                            </div>
                            <div class="border border-gray-100 flex items-center flex-grow">
                                <h3 class="m-auto text-xl">سه‌شنبه</h3>
                            </div>
                            <div class="border border-gray-100 flex items-center flex-grow">
                                <h3 class="m-auto text-xl">چهارشنبه</h3>
                            </div>
                            <div class="border border-gray-100 flex items-center flex-grow">
                                <h3 class="m-auto text-xl">پنج‌شنبه</h3>
                            </div>
                            <div class="border border-gray-100 flex items-center flex-grow">
                                <h3 class="m-auto text-xl">جمعه</h3>
                            </div>

                            {#                            days#}




                        </div>
                    </div>
                </div>