

    <div class="relative mt-4">
  <label for="Search" class="sr-only"> Search </label>

  <input
    type="text"
    id="Search"
    placeholder="جستجو دسته بندی مورد نظر..."
    class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm pr-2"
  />

  <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
    <button type="button" class="text-gray-600 hover:text-gray-700">
      <span class="sr-only">Search</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-4 w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>
    </button>
  </span>
</div>

    <div class="flex justify-between items-center mt-4 rounded bg-green-500 px-5 py-2 text-lg text-gray-100 transition hover:bg-green-600">
        <a
                    href="#"
                    class="block"
            >
                افزودن دسته بندی جدید

            </a>
        <div class="">
                <img class="w-6 h-6" src="https://www.svgrepo.com/show/471792/plus-circle.svg" alt="">
            </div>
    </div>
    <div class="text-right">
            <div class="mt-5 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
                 role="alert">
                <span class="block sm:inline">دسته بندی با موفقیت ثبت شد</span>

            </div>
        </div>
        <div class="text-right">
            <div class="mt-5  border border-red-400 bg-red-100 text-red-700 px-4 py-3 rounded relative"
                 role="alert">
                <span class="block sm:inline">دسته بندی اضافه نشد</span>

            </div>
        </div>
    <div class="mt-8">

    <div class="border-b border-gray-900/10 pb-12 bg-gray-50 p-5 rounded rounded-md">


        <div class="mt-2 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
                <label for="category-title" class="block text-lg font-semibold leading-6 text-gray-900">عنوان دسته بندی</label>
                <div class="mt-2">
                    <input type="text" name="category-title" id="category-title" autocomplete="off"
                           class="pr-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

    </div>

        <div class="flex justify-end mt-4">
            <a
                    href="#"
                    class="block rounded bg-green-500 px-5 py-3 text-lg text-gray-100 transition hover:bg-green-600"
            >
                ثبت دسته بندی
            </a>
        </div>



</div>

</div>


<div class="mt-8">
                            <ul class="space-y-2">
                                <li class="flex flex-col  gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center justify-between gap-4">


                                        <div class="">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li>
                                <li class="flex flex-col  gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center justify-between gap-4">


                                        <div class="">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li><li class="flex flex-col  gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center justify-between gap-4">


                                        <div class="">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li>

                            </ul>


                        </div>