<div class="mt-8">

    <div class="border-b border-gray-900/10 pb-12 bg-gray-50 p-5 rounded rounded-md">
        <h2 class="text-lg font-semibold leading-7 text-gray-900">فرم اضافه کردن آیتم جدید به لیست آیتم ها</h2>
        <p class="mt-1 text-lg leading-6 text-gray-600">از این فرم تنها برای اضافه کردن غذای جدید استفاده کنید. در صورتی
            که می خواهید صرفا قیمت غذا را تغییر دهید از فرم ویرایش استفاده کنید</p>

        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
                <label for="item-title" class="block text-lg font-semibold leading-6 text-gray-900">عنوان آیتم</label>
                <div class="mt-2">
                    <input type="text" name="item-title" id="item-title" autocomplete="off"
                           class="pr-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div class="sm:col-span-3">
                <label for="price" class="block text-lg  font-semibold leading-6 text-gray-900 ">قیمت</label>
                <div class="mt-2">
                    <input style="direction: ltr" type="text" name="price" id="price" autocomplete="off"
                           class="pl-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
                <p class="mt-3 text-sm leading-6 text-gray-600">به تومان است</p>


            </div>

            <div class="sm:col-span-full">
                <label for="category" class="block text-lg font-semibold leading-6 text-gray-900">دسته بندی</label>
                <div class="mt-2">
                    <select id="category" name="category" autocomplete=off"
                            class="pr-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                        <option>نوشیدنی</option>
                        <option>کباب</option>
                        <option>خورش</option>
                    </select>
                </div>
            </div>


                <fieldset class="sm:col-span-full">
          <legend class="text-lg font-semibold leading-6 text-gray-900">در دسترس بودن آیتم</legend>
          <div class="mt-3 ">
            <div class="relative flex gap-x-3">
              <div class="flex h-6 items-center">
                <input id="comments" name="comments" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
              </div>
              <div class="text-lg leading-6">
                <label for="comments" class="font-medium text-gray-900">فعال است؟</label>
                <p class="text-gray-500 text-base">با فعال بودن این گزینه امکان سفارش این آیتم وجود دارد</p>
              </div>
            </div>

          </div>
        </fieldset>


            <div class="col-span-full">
                <label for="desc" class="block text-lg font-semibold leading-6 text-gray-900">شرح آیتم</label>
                <div class="mt-2">
                    <textarea id="desc" name="desc" rows="3"
                              class="pr-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                </div>
                <p class="mt-3 text-sm leading-6 text-gray-600">درباره مواد تشکیل دهنده غذا/ میزان کالری و ...
                    بنویسید</p>
            </div>

            <div class="col-span-full">
                <label for="cover-photo" class="block text-lg font-semibold leading-6 text-gray-900">تصویر آیتم</label>
                <div style="direction: ltr"
                     class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                    <div class="text-center">
                        <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                        <div class="mt-4 flex text-sm leading-6 text-gray-600">
                            <label for="file-upload"
                                   class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                                <span>Upload a file</span>
                                <input id="file-upload" name="file-upload" type="file" class="sr-only">
                            </label>
                            <p class="pl-1">or drag and drop</p>
                        </div>
                        <p class="text-xs leading-5 text-gray-600">PNG, JPG, GIF up to 10MB</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-right">
            <div class="mt-5 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
                 role="alert">
                <span class="block sm:inline">آیتم با موفقیت ثبت شد</span>

            </div>
        </div>
        <div class="text-right">
            <div class="mt-5  border border-red-400 bg-red-100 text-red-700 px-4 py-3 rounded relative"
                 role="alert">
                <span class="block sm:inline">آیتم اضافه نشد</span>

            </div>
        </div>
        <div class="flex justify-end mt-4">
            <a
                    href="#"
                    class="block rounded bg-green-500 px-5 py-3 text-lg text-gray-100 transition hover:bg-green-600"
            >
                ثبت آیتم
            </a>
        </div>

    </div>


</div>
