

    <div class="relative mt-4">
  <label for="Search" class="sr-only"> Search </label>

  <input
    type="text"
    id="Search"
    placeholder="جستجو ایتم مورد نظر..."
    class="w-full rounded-md border-gray-200 py-2.5 pe-10 shadow-sm sm:text-sm pr-2"
  />

  <span class="absolute inset-y-0 end-0 grid w-10 place-content-center">
    <button type="button" class="text-gray-600 hover:text-gray-700">
      <span class="sr-only">Search</span>

      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-4 w-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z"
        />
      </svg>
    </button>
  </span>
</div>

    <div class="flex justify-between items-center mt-4 rounded bg-green-500 px-5 py-2 text-lg text-gray-100 transition hover:bg-green-600">
        <a
                    href="#"
                    class="block"
            >
                افزودن ایتم جدید

            </a>
        <div class="">
                <img class="w-6 h-6" src="https://www.svgrepo.com/show/471792/plus-circle.svg" alt="">
            </div>
    </div>

<div class="mt-8">
                            <ul class="space-y-2">
                                <li class="flex flex-col gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center gap-4">
                                        <img
                                                src="https://api.snappfood.biz/api/files/food/1608378020.jpeg"
                                                alt=""
                                                class="h-16 w-16 rounded object-cover self-start"
                                        />

                                        <div class="w-8/12">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end w-3/12">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li>
                               <li class="flex flex-col gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center gap-4">
                                        <img
                                                src="https://api.snappfood.biz/api/files/food/1608378020.jpeg"
                                                alt=""
                                                class="h-16 w-16 rounded object-cover self-start"
                                        />

                                        <div class="w-8/12">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end w-3/12">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li><li class="flex flex-col gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center gap-4">
                                        <img
                                                src="https://api.snappfood.biz/api/files/food/1608378020.jpeg"
                                                alt=""
                                                class="h-16 w-16 rounded object-cover self-start"
                                        />

                                        <div class="w-8/12">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end w-3/12">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li><li class="flex flex-col gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center gap-4">
                                        <img
                                                src="https://api.snappfood.biz/api/files/food/1608378020.jpeg"
                                                alt=""
                                                class="h-16 w-16 rounded object-cover self-start"
                                        />

                                        <div class="w-8/12">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end w-3/12">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li><li class="flex flex-col gap-0 bg-gray-100 rounded p-4 shadow-md hover:bg-gray-300 ">

                                    <div class="flex items-center gap-4">
                                        <img
                                                src="https://api.snappfood.biz/api/files/food/1608378020.jpeg"
                                                alt=""
                                                class="h-16 w-16 rounded object-cover self-start"
                                        />

                                        <div class="w-8/12">
                                            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
                                            </div>
                                        </div>
                                        <div class="flex justify-end w-3/12">

                                                                                    <div class="ml-2">
                                                                                        <img class="w-6 h-6"
                                                                                             src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

                                                                                    </div>

                                            <div class="">
                                                <img class="w-6 h-6"
                                                     src="https://www.svgrepo.com/show/471357/edit-04.svg" alt="">

                                            </div>
                                        </div>
                                    </div>



                                </li>
                            </ul>


                        </div>