<li class="flex flex-col cursor-pointer bg-sky-100 border border-sky-700 rounded p-4 shadow-md hover:bg-gray-300 ">

    <div class="flex items-center gap-4">
        <img
                src="https://api.snappfood.biz/api/files/food/1608378020.jpeg"
                alt=""
                class="h-16 w-16 rounded object-cover self-start"
        />

        <div class="w-8/12">
            <div><h3 class="text-sm text-gray-900">چلو جوجه کباب ترش</h3>
            </div>
        </div>
        <div class="flex justify-end w-3/12">

            <div class="ml-2">
                <img class="w-6 h-6"
                     src="https://www.svgrepo.com/show/472000/trash-04.svg" alt="">

            </div>


        </div>
    </div>


</li>