{% load static %}
<!-- Modal toggle -->
<button id="item-comment-modal" data-modal-target="select-item-comment-modal" 
        data-modal-toggle="select-item-comment-modal"
        class="hidden block text-white bg-blue-700 hover:bg-blue-800 
        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        type="button">
    Toggle modal
</button>

<!-- Main modal -->
<div style="direction: rtl" id="select-item-comment-modal" tabindex="-1" aria-hidden="true"
     class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow ">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t">
                <h3 class="text-base font-semibold text-gray-900 ">
                    نظرات آیتم
                </h3>
                <button type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-xs h-8 w-8 ms-auto inline-flex justify-center items-center "
                        data-modal-toggle="select-item-comment-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            
            <!-- Modal body -->
            <div id="item-comment-modal-body-container" class="p-4 md:p-5 flex flex-col gap-3">
                <textarea class="w-full h-16 border-gray-200 rounded-md text-sm p-2" id="item-comment-textarea" placeholder="نظر خود را وارد کنید..."></textarea>
                <hr>
                <div class="flex flex-col gap-3">
                    <button id="item-comment-submit" type="button" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">ثبت نظر</button>
                </div>
                
                <hr>
                <div class="flex flex-col gap-1 item-comments-container">
                    <div class="flex flex-col gap-1 w-full px-4 py-2 bg-gray-100 rounded-md">
                        <span class="text-gray-500 text-xs">عرفان رضایی</span>
                        <p class="text-xs text-gray-800">
                            قهوه درست بسته بندی نشده، جنس لیوان فاجعه و همه اش ریخت روی میز کارم و لباسم! این چه وضعشه؟!
                        </p>
                    </div>
                    <div class="flex flex-col gap-1 w-full px-4 py-2 bg-blue-200 rounded-md">
                        <span class="text-gray-500 text-xs font-bold w-full flex flex-row justify-between items-center">
                            <span>شما</span>
                            
                            <svg  width="12px" height="12px" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="delete-alt-2" class="hover:fill-red-600 hover:scale-110 cursor-pointer icon glyph"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M17,4V5H15V4H9V5H7V4A2,2,0,0,1,9,2h6A2,2,0,0,1,17,4Z"></path><path d="M20,6H4A1,1,0,0,0,4,8H5.07l.87,12.14a2,2,0,0,0,2,1.86h8.14a2,2,0,0,0,2-1.86L18.93,8H20a1,1,0,0,0,0-2ZM13,17a1,1,0,0,1-2,0V11a1,1,0,0,1,2,0Z"></path></g></svg>
                        </span>
                        <p class="text-xs text-gray-800">
                            قهوه درست بسته بندی نشده، جنس لیوان فاجعه و همه اش ریخت روی میز کارم و لباسم! این چه وضعشه؟!
                        </p>
                        
                    </div>
                    <div class="flex flex-col gap-1 w-full px-4 py-2 bg-gray-100 rounded-md">
                        <span class="text-gray-500 text-xs">عرفان رضایی</span>
                        <p class="text-xs text-gray-800">
                            قهوه درست بسته بندی نشده، جنس لیوان فاجعه و همه اش ریخت روی میز کارم و لباسم! این چه وضعشه؟!
                        </p>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
</div> 



   