{% load static %}
<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سیستم سفارش صبحانه و ناهار</title>
    <link rel="stylesheet" href="{% static 'Pors/css/vazir.css' %}">
    <link href="{% static 'Pors/css/flowbite.min.css' %}" rel="stylesheet" />
    <script src="{% static 'Pors/js/jquery-3.7.1.min.js' %}"
        crossorigin="anonymous"></script>
    <script src="{% static 'Pors/js/tailwind.js' %}"></script>
    <script src="{% static 'Pors/js/personnelNewPanel.js' %}"></script>
    <script src="{% static 'Pors/js/jalali-moment.js' %}"></script>
    <style>
        body {
            font-family: "Vazirmatn", sans-serif;
        }
    </style>
    <link rel="icon" type="image/x-icon" href="{% static 'Pors/favicon.ico' %}">
</head>
<body class="items-center select-none">
{#loading element for good user experience #}
<div id="loading" class="flex items-center justify-center w-full h-screen border border-gray-200 rounded-lg bg-gray-50" style="direction: rtl">
    <div class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse">در حال راه اندازی...</div>
</div>

{% include 'personnelBuildingLocationModal.html' %}
{% include 'personnelFloorLocationModal.html' %}
{% include 'orderCommentModal.html' %}



<div id="main-panel-wrapper" class="flex items-start justify-center h-screen hidden">
    <div class="flex flex-col w-[72rem] h-[50rem] space-y-4 ">
        {#        Personnel Menu bar#}
        <div class="flex items-center justify-between bg-gray-100 border-gray-200 p-2" style="direction: rtl">
            {% include 'personnelMenuBar.html' %}
        </div>
        <div id="main-panel" class="flex flex-row space-x-4">
            {#            Left Panel / Food Menu#}
            <div class="w-1/2 bg-gray-50 p-5 " style="direction: rtl">
                {% include "personnelFoodMenu.html" %}
            </div>
            {#            Right Panel / Calendar#}
            <div class="w-1/2 bg-white">
                {% include 'calendar.html' %}
            </div>
        </div>
    </div>
</div>
<div id="dismiss" class="fixed bottom-4 right-4 flex flex-col items-start w-1/4 float-right" style="direction: rtl"></div>
<div id="dump-image-container" class="hidden"></div>
<script src="{% static 'Pors/js/flowbite.min.js' %}"></script>

</body>

</html>
