{% load static %}
{#            User profile#}
<div class="group flex items-center">
    <img id="user-profile" class="shrink-0 h-12 w-12 rounded-md" src=""
         onerror="imgError(this);" alt=""/>
    <div class="mr-3">
        <p id="user-fullname" class="text-sm font-medium text-slate-900"></p>
        <p class="text-sm font-medium 
        text-slate-500">پرسنل</p>
    </div>


</div>
{#          Left Options  #}
<div class="flex flex-row gap-5 justify-end items-center">
    
        <div id="go-to-admin-button" class="hidden text-gray-800 bg-blue-100 
        hover:bg-blue-200 
        focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-xs px-5 py-2.5 text-center inline-flex items-center">
        <a href="{% url 'pors:admin_panel' %}">ورود به میز کار ادمین</a>
    </div>
    
    <div class=" hidden flex items-center gap-1.5">
        <img class="w-5 h-5" src="" alt="">
        <div class="gap-2 flex">
            <span class="text-sm">مبلغ کل ماه:</span>
            <span>
                            <span class="text-sm">۱۰۰۰۰۰</span>
                            <span class="text-xs text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
    <div class="hidden flex items-center gap-1.5">
        <img class="w-5 h-5" src="" alt="">
        <div class="gap-2 flex">
            <span class="text-sm">یارانه ماه:</span>
            <span>
                            <span class="text-sm">۱۰۰۰۰۰</span>
                            <span class="text-xs text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
    <div class="hidden flex items-center gap-1.5">
        <img class="w-5 h-5" src="" alt="">
        <div class="gap-2 flex">
            <span class="text-sm">بدهی ماه:</span>
            <span>
                            <span class="text-sm">۱۰۰۰۰۰</span>
                            <span class="text-xs text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>

</div>