{#            User profile#}
<div class="group flex items-center">
    <img id="personnel-image" class="shrink-0 h-12 w-12 rounded-md"
         src="https://images.pexels.com/photos/614810/pexels-photo-614810.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
         alt=""/>
    <div class="mr-3">
        <p class="text-base font-medium text-slate-900">پشوتن میرمیرانی</p>
        <p class="text-base font-medium text-slate-500">پرسنل</p>
    </div>
</div>
{#          Left Options  #}
<div class="flex flex-row gap-5 justify-end items-center">
    <div class=" flex items-center gap-1.5">
        <img class="w-5 h-5" src="https://www.svgrepo.com/show/353355/wallet.svg" alt="">
        <div class="gap-2 flex">
            <span class="text-base">مبلغ کل ماه:</span>
            <span>
                            <span class="text-base">۱۰۰۰۰۰</span>
                            <span class="text-sm text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
    <div class=" flex items-center gap-1.5">
        <img class="w-5 h-5" src="https://www.svgrepo.com/show/353355/wallet.svg" alt="">
        <div class="gap-2 flex">
            <span class="text-base">یارانه ماه:</span>
            <span>
                            <span class="text-base">۱۰۰۰۰۰</span>
                            <span class="text-sm text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
    <div class=" flex items-center gap-1.5">
        <img class="w-5 h-5" src="https://www.svgrepo.com/show/353355/wallet.svg" alt="">
        <div class="gap-2 flex">
            <span class="text-base">بدهی ماه:</span>
            <span>
                            <span class="text-base">۱۰۰۰۰۰</span>
                            <span class="text-sm text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
</div>