{% load static %}
{#            User profile#}
<div class="group flex items-center">
    <img id="personnel-image" class="shrink-0 h-12 w-12 rounded-md"
         {% with defaulting="/static/Pors/images/placeholder.png" %}
         src="{{ profile|default:defaulting }}"
         {% endwith %}
         alt=""/>
    <div class="mr-3">
        <p class="text-base font-medium text-slate-900">{{ fullname }}</p>
        <p class="text-base font-medium text-slate-500">پرسنل</p>
    </div>
</div>
{#          Left Options  #}
<div class="hidden flex flex-row gap-5 justify-end items-center">
    <div class=" flex items-center gap-1.5">
        <img class="w-5 h-5" src="" alt="">
        <div class="gap-2 flex">
            <span class="text-base">مبلغ کل ماه:</span>
            <span>
                            <span class="text-base">۱۰۰۰۰۰</span>
                            <span class="text-sm text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
    <div class=" flex items-center gap-1.5">
        <img class="w-5 h-5" src="" alt="">
        <div class="gap-2 flex">
            <span class="text-base">یارانه ماه:</span>
            <span>
                            <span class="text-base">۱۰۰۰۰۰</span>
                            <span class="text-sm text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
    <div class=" flex items-center gap-1.5">
        <img class="w-5 h-5" src="" alt="">
        <div class="gap-2 flex">
            <span class="text-base">بدهی ماه:</span>
            <span>
                            <span class="text-base">۱۰۰۰۰۰</span>
                            <span class="text-sm text-slate-600 pr-0.5">تومان</span>
                        </span></div>
    </div>
</div>